*{margin: 0;padding: 0;}
#article-bg{background-color: rgba(240,240,240,1);}
#article-wrap{width: 980px; margin: 0 auto; position: relative; padding-top: 20px;}
#article-content{width: 710px; }
#article-content nav li{ float: left; padding: 15px 20px 20px 20px; list-style-type: none; background-color: #fff; border-top: 5px solid rgba(220,220,230,1); border-left: 1px solid rgba(220,220,230,1); }
#article-content nav .hover{border-top: 5px solid rgba(255,24,245,1);}
#article-content section .big-box{ width: 230px; height: auto;}
#article-content section .big-box img{width: 230px; }
#article-content section .big-box .p-box{width: 230px; background-color: purple; }
#article-content section .big-box .p-box .number{ display: inline-block; width: 25px; height: 25px; margin: 10px 0 0 10px; line-height:25px; text-align: center; color:white; border-radius: 25px; border: 1px solid #fff}
#article-content section .big-box .p-box p{ display: inline;}


aside{width: 260px; margin-left: 10px; position: absolute; right: 0px; top: 0px; background-color: #fff; margin-top: 75px;}

